extends  ../layout

block content
  h1=title
  nav.navbar.navbar-inverse 
    .container
      ul.nav.navbar-nav
        li.active
          a(href="#") 首页
        li
          a(href="#") 分类
  .text-right
   input.btn.btn-primary(type="button" value="添加" onclick="canlce()" data-toggle="modal" data-target="#myModal")
  div &nbsp;
  table.table
      tr
       th.text-center id
       th 名称
       th 歌手
       th 描述
       th 更新时间
       th.text-center(width="120") 操作
      - for (var x = 0; x < list.length; x++)
       tr
        td.text-center= list[x].id
        td= list[x].title
        td= list[x].singer
        td #{list[x].description}
        td #{moment(list[x].updatedAt).format("YYYY-MM-DD")}
        td.text-center 
         input.btn.btn-danger.btn-sm(type="button" onclick="del("+ list[x].id+")" value="删除")
         span    
         input.btn.btn-info.btn-sm(type="button" value="修改" onclick="edit("+ list[x].id+")" data-toggle="modal" data-target="#myModal")    
  .modal.fade#myModal(tabindex="-1" role="dialog") 
   .modal-dialog(role="document")
     .modal-content
       form.form-horizontal(method="POST" action="/admin/add" enctype="multipart/form-data")
        .modal-header
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title 添加
        .modal-body
           .form-group
             label.col-xs-2.text-right.control-label(for="title") 标题
             .col-xs-10
               input.form-control(type="text" name="title" id="title")
           .form-group
             label.col-xs-2.text-right.control-label(for="singer") 歌手
             .col-xs-10
               input.form-control(type="text" name="singer" id="singer" )
           .form-group
             label.col-xs-2.text-right.control-label(for="mp3") 文件
             .col-xs-10.relative
               input.file(type="file" name="file" onchange="changeFile(this)")
               input.form-control(type="text" readonly="true" name="mp3"  id="mp3")
           .form-group
             label.col-xs-2.text-right.control-label(for="description") 描述
             .col-xs-10
               textarea.form-control(type="text" rows="5" name="description" id="description")
             input.form-control(type="hidden" name="id" id="id")
        .modal-footer
          button(type="button" class="btn btn-default"  data-dismiss="modal") 取消
          input(type="submit" class="btn btn-primary" value="保存")
  script.
   function del(id){
         $.ajax({
            url:"/admin/del/"+id,
            type:'GET',
            success:function(res){
               if(res.data){
                alert('删除成功！')
                location.href ="/admin"
               }
            }
        })
    }
    function changeFile(obj){
        $("#mp3").val($(obj).val().substr(12))
    }
    function edit(id){
         $.ajax({
            url:"/admin/edit/"+id,
            type:'GET',
            success:function(res){
               $("#title").val(res.data.title)
               $("#singer").val(res.data.singer)
               $("#mp3").val(res.data.mp3)
               $("#description").html(res.data.description)
               $("#id").val(res.data.id)
               $(".modal-title").html("修改")
            }
        })
    }
    function canlce(){
               $("#title").val('')
               $("#singer").val('')
               $("#mp3").val('')
               $("#description").html('')
               $("#id").val('')
               $(".modal-title").html("添加")
    }